<h1>Restart your password</h1>
<form id="changePswdForm">
    <input name="email"  class="input" type="email">
    <input name="password" class="input" type="password">
    <button class="btn" type="submit">Change Password</button>
</form>
<script src="/js/changePassword.js"></script>