{{#each products}}
    <div>
        <h3>{{this.title}}</h3>
        <p>{{this.description}}</p>
        <h4>${{this.price}}</h4>
    </div>
{{/each}}
{{!-- <script src="/socket.io/socket.io.js"></script>
<script src="../public/js/realtime.js"></script> --}}