<h1>Log In</h1>
<form id="loginForm">
    <input name="email" class="input" type="email" placeholder="E-mail">
    <input name="password" class="input" type="password" placeholder="Password">
    <button class="btn" type="submit">Log In</button>
</form>
<p>Are you not registered yet? <a href="/register">Sign up here</a></p>
<script src="/js/login.js"></script>