<h1>Profile</h1>
<div>
    <h4>Personal data</h4>
    <p>Name: {{user.name}}</p>
    <p>E-mail: {{user.email}}</p>
    <p>Age: {{user.age}}</p>
    {{#if user.userRole}}
    <div>
        <p>Role Type: Admin✅</p>
    </div>
    {{else}}
    <div>
        <p>Role Type: User</p>
    </div>
{{/if}}
    <a href="/api/sessions/logout"><button>Log Out</button></a>
</div>