<h1>Products</h1>
<div class="grid-space" id="articlescontainer">

{{!-- </div>
<h2>To Add or Delete Products</h2>
<p class="pform">(It is compulsory to fill in all the blanks)</p>
<form action="/realtimeproducts" method="post">
    <div class="eachinput">
        <label>Title</label>
        <input name="title">
    </div>
    <div class="eachinput">
        <label>Description</label>
        <input name="description">
    </div>
    <div class="eachinput">
        <label>Price</label>
        <input name="price">
    </div>
    <div class="eachinput">
        <label>Category</label>
        <input name="category">
    </div>
    <div class="eachinput">
        <label>Stock</label>
        <input name="stock">
    </div>
    <div class="eachinput">
        <label>Code</label>
        <input name="code">
    </div>
    <div class="eachinput">
        <label>Thumbnail</label>
        <input name="thumbnail">
    </div>
    <div class="eachinput">
        <input type="submit" class="btn">
    </div>
</form> --}}
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>