<h1>Register</h1>
<form id="registerForm">
    <input name="firstName" class="input" type="text" placeholder="First Name">
    <input name="lastName" class="input" type="text" placeholder="Last Name">
    <input name="email" class="input" type="email" placeholder="E-mail">
    <input name="age" class="input" type="text" placeholder="Age">
    <input name="password" class="input" type="password" placeholder="Password">
    <button class="btn" type="submit">Submit</button>
</form>
<script src="/js/register.js"></script>