@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;500&family=Sen:wght@400;700&display=swap');

*{
    font-family: 'Sen', sans-serif;
}

h1{
    margin-left: 15px;
}

#loginForm{
    display: flex;
    flex-direction: column;

    .input{
        margin: 15px;
        height: 20px;
        width: 500px;
    }

    .btn{
        width: 100px;
        margin: 15px;
    }
}

p{
    margin-left: 15px;
}

a{
    color: blue;
    text-transform: none;
}